---
layout: default
---
<header>
  <div class="inner">
    <h1>Share my<br/>Cloud Foundry</h1>
    <h2>Let anyone at your company create their own account on your Cloud Foundry installation</h2>
    <a href="https://github.com/cloudfoundry-community/share-my-cloudfoundry" class="button"><small>View project on</small>GitHub</a>
  </div>
</header>

<div id="content-wrapper">
  <div class="inner clearfix">
    <section id="main-content">
      {{ content }}
    </section>

    <aside id="sidebar">
      <a href="https://github.com/cloudfoundry-community/share-my-cloudfoundry" class="button"><small>View project on</small>GitHub</a>
      <!-- <a href="https://github.com/cloudfoundry-community/share-my-cloudfoundry/zipball/master" class="button">
        <small>Download</small>
        .zip file
      </a>
      <a href="https://github.com/cloudfoundry-community/share-my-cloudfoundry/tarball/master" class="button">
        <small>Download</small>
        .tar.gz file
      </a> -->

      <p class="repo-owner"><a href="https://github.com/cloudfoundry-community/share-my-cloudfoundry">share-my-cloudfoundry</a> is maintained by the <a href="https://github.com/cloudfoundry-community">cloudfoundry-community</a>.</p>

      <p>This page is using the Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>
    </aside>
  </div>
</div>
